body {
    background: #bdc3c7;
}

h1 {
    color: #9b59b6;
}

h2 {
    color: orange;
}

li {
    color: #06f;
}

p {
    background: yellow;
}

input {
    border: 3px solid red;
}

.hello {
    background: #fff;
}

#special {
    border: 2px solid #0ee;
}

div p {
    font-size: 25px;
}

input[type="text"] {
    background: gray;
}

div:nth-of-type(3) p {
    background: #ff69b4;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 5px solid #fff;
}

div:nth-of-type(3) em {
    color: white;
    font-size: 20px;
}